body{
    background-image: url('hurdles.JPG');
}
h1{
    background-image: url('gradient.jpg');
    background-position: bottom;
}
@media screen and (min-width: 768px) {
    .first-media-query {
        color: red
    }
}
@media screen and (max-width: 768px) {
    .first-media-query {
        color: blue
    }
}